<h1>Partner demo</h1>

<p>
  Text here
</p>

<script src="http://osdv-demo.pivotallabs.com/registrations/new.js"></script>
<!--<script src="registrations/new.js"></script>-->

<p>
  More text here
</p>