<% content_for :subtitle do %>
  <div class="step">
    <%= link_to flash[:received_count] || "&nbsp;", receive_submitted_registrations_path, :method => :put %>
  </div>
<% end %>
<ul>
  <li><%= link_to 'Process voter registration forms', new_registration_search_path %></li>
  <li><%= link_to 'Look up birth/death records', '#' %></li>
  <li><%= link_to 'Send a request to the DMV', '#' %></li>
</ul>
