
.dim {
  color: #d9d9d9;
}

a {
  color: #333333;
  text-decoration: none;
}

html {
  height: 100%;
  background: white url(/images/clerk-gradient.png) top left repeat-x fixed;
}

body {
  height: 100%;
  font-family: helvetica, arial, sans-serif;
}

input[type=submit], input[type=button] {
  width: 100px;
  height: 36px;
  border: none;
  color: white;
  background-color: black;
  font-size: 100%;
  cursor: pointer;
}

#doc2 {
  height: 100%;
  min-height: 768px;
  width: 69.5em;
  border-color: white;
  border-style: solid;
  border-width: 0 22px;
  background: white url(/images/clerk-bg.png) top left no-repeat scroll;
}

#hd {
  color: #666666;
  position: relative;
  height: 83px;
}

#hd h1 {
  margin: 0 330px;
  color: #666666;
  font-size: 204%;
  font-weight: normal;
  line-height: 4em;
}

#hd a {
  color: #666666;
}

#hd .right {
  float: right;
  padding-top: 22px;
}

#hd .right p {
  margin: 0 0 10px 0;
}

img.search {
  margin: 0 0 0 4px;
  border: 1px solid black;
  padding: 1px 120px 1px 1px;
}

#yui-main .yui-b {
  background-color: white;
  padding: 1em;
  height: 300px;
}

#bd {
  position: relative;
}

div.login {
  position: absolute;
  top: 50px;
  left: 180px;
  border: 1px solid black;
  width: 530px;
  height: 255px;
  background-color: white;
}

div.login h2 {
  margin: 0 0 48px 0;
  padding: 5px 0 8px 12px;
  color: black;
  background-color: #edeee8;
  font-size: 108%;
  font-weight: bold;
}

div.login p, #form_container p {
  overflow: hidden;
  padding-left: 75px;
}

div.login label, #form_container label {
  float: left;
  width: 75px;
  padding-top: 4px;
}

input[type=text], input[type=password], select {
  margin-left: 0;
  margin-right: 45px;
  border: 1px solid black;
  height: 20px;
  width: 228px;
}

div.login p.button, #form_container p.button {
  padding: 30px 0 0 360px;
}

#bd.login_bd {
  background: #e3e4db url(/images/clerk-bg.png) 0 -83px no-repeat scroll;
  height: 400px;
}

#bd > .yui-b {
  overflow: hidden;
  background: #e3e4db url(/images/clerk-bg.png) 0 -83px no-repeat scroll;
  padding-top: 1em;
  min-height: 45em;
}

#bd > .yui-b ul li {
  list-style: none;
  margin-top: 1.25em;
  color: #333333;
  font-size: 93%;
  font-weight: bold;
}

.yui-t2 #yui-main .yui-b {
  margin-left: 180px;
  padding: 0;
  font-size: 108%;
}

#yui-main .yui-b ul li {
  list-style: none;
  margin: 1em;
  font-size: 189%;
  font-weight: normal;
}

#inner {
  padding-left: 2em;
}

input.clerk_button {
  width: 100px;
  height: 36px;
  border: none;
  color: white;
  background-color: black;
  font-size: 100%;
}


div.subtitle {
  position: relative;
  height: 62px;
  margin-bottom: 1em;
  padding: 0;
  background: #e3e4db url(/images/clerk-bg.png) -180px -83px no-repeat;
}

.subtitle h2 {
  color: #333333;
  font-size: 153.9%;
  font-weight: normal;
  margin: 0;
  padding: 0.85em 0 0 1em;
}

#bd h3 {
  color: #9b351f;
  font-size: 138.5%;
  font-weight: normal;
  margin-left: 1.5em;
  margin-bottom: 2em;
}

.subtitle .step {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 62px;
  height: 44px;
  background: #e3e4db url(/images/blank-button.png) top left no-repeat;
}

.subtitle a {
  display: block;
  width: 62px;
  height: 30px;
  text-align: center;
  padding-top: 14px;
  color: #aaaaaa;
}


.subtitle .step p {
  color: #666666;
  font-size: 116%;
  margin: 14px 0 0 8px;
}

#scan {
  float: right;
  position: relative;
  width: 342px;
  height: 202px;
  padding: 0 0 14px 14px;
  background-color: white;
}

#scan img {
  width: 340px;
  height: 200px;
  border: 1px solid black;
}

.zebra {
  width: 100%;
}

.zebra td {
  border: none;
  padding: 5px 0 4px 2em;
}

.zebra .even {
  background-color: #dee1d3;
}

.text_and_button {
  margin: 1em 2em;
}

.text_and_button span {
  float: left;
  width: 360px;
  color: #333333;
  font-size: 182%;
  font-weight: normal;
}

.text_and_button input[type=submit] {
  width: 165px;
}

.zebra td.label {
  width: 90px;
}

.step_4 .yui-g {
  padding: 2em 0 0 2em;
}

.step_4 select {
  width: 11.25em;
}

.step_4 textarea {
  width: 21.25em;
}

.step_4 p.textarea_label {
  margin-bottom: 0;
}

#registration {
  text-align: center;
}

#registration h4 {
  color: #333333;
  font-size: 138.5%;
  margin: 2em;
}

#registration p {
  color: #9b351f;
  font-size: 153.9%;
  margin: 0.5em;
}

#registration table {
  width: 50%;
  margin-top: 2em;
  margin-left: 25%;
}

#registration th, #registration td {
  border: none;
  text-align: left;
  vertical-align: top;
}

.red_button {
  background-color: #990000 !important;
}

.green_button {
  background-color: #006600 !important;
}

div.right {
  float: right;
}

div.right input {
  margin: 1em 5em 0 0;
}

div.clear {
  clear: both;
}

.bold {
  font-weight: bold;
}