<% content_for :subtitle do %>
  <h2>Processing Voter Registration Request</h2>
  <div class="step"><p>Step 2</p></div>
<% end %>

<h3>Review the registration received in the mail with these data:</h3>

<%= render :partial => '/registrations/display' %>

<% form_tag(new_registration_search_path, :method => :get) do %>
  <p class="text_and_button">
    <span>This is not the correct record</span>
    <%= submit_tag 'Search Again', :class => "red_button" %>
  </p>
<% end %>

<% form_tag(step3_registration_clerks_path(@registration), :method => :get) do %>
  <p class="text_and_button">
    <span>This is the correct record</span>
    <%= submit_tag 'Proceed to Scan', :class => "green_button" %>
  </p>
<% end %>
