<% content_for :subtitle do %>
  <h2>Processing Voter Registration Request</h2>
  <div class="step"><p>Step 3</p></div>
<% end %>

<h3>Step 3: Please scan and upload the registration received in the mail</h3>

<div id="inner">
  <div id='upload'>
    <div>
      <%= button_to_function "Scan and Upload Voter Registration Form", :class => "green_button", :style => "width: 310px" do |page|
          page[:upload].visual_effect :slide_up
          page[:after_upload].visual_effect :slide_down
      end %>
    </div>
  </div>


  <div id="after_upload" style="display:none; height: 500px">
    <div>
      <p><img src="/images/fake_scan.png"></p>
      <div class="right">
        Incorrect scan uploaded <%= button_to_function "Try Again", :class => "red_button", :style => "width: 254px" do |page|
          page[:upload].visual_effect :slide_down
          page[:after_upload].visual_effect :slide_up
        end %>
      </div>
      <div class="clear"></div>
      <div class="right">
        Correct scan uploaded <%= button_to "Proceed", step4_registration_clerks_path(@registration),
                        :method => :get, :class => "green_button", :style => "width: 254px" %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
