<h1>
  STEP 2: Please review the registration received in the mail with these data.
</h1>

<%= render :partial => '/registrations/display' %>

<%= button_to "This is not the correct record - search again", new_registration_search_path, :method => :get %>

<%= button_to "This is the correct record - proceed to Scan", step3_registration_clerks_path(@registration), :method => :get %>

