<% names_and_attributes = [
    ['ID #', :id],
    ['Salutation', :salutation],
    ['Name', :name],
    ['Address', :full_address],
    ['County', :county],
    ['Date of birth', :date_of_birth],
    ['Phone', :phone],
    ['Party', :party],
    ['Tracking #', :id_number]
  ] %>
<table class="zebra">
  <% names_and_attributes.each do |tuple| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= tuple.first %>:</td>
      <td><%= @registration.send(tuple.last) %></td>
    </tr>
  <% end %>
</table>
