<% names_and_attributes = [
    ['Tracking #:', :id_number],
    ['Salutation:', :salutation],
    ['Name:', :name],
    ['Address:', :address],
    ['&nbsp;', :city_state_zip],
    ['County:', :county],
    ['Date of birth:', :date_of_birth],
    ['Phone:', :phone],
    ['Party:', :party],
    ['Citizen ID #:', :id]
  ] %>
<table class="zebra">
  <% names_and_attributes.each do |tuple| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td class="label"><%= tuple.first %></td>
      <td class="value"><%= @registration.send(tuple.last) %></td>
    </tr>
  <% end %>
</table>
