<div id="registration">
  <% if current_user %>
    <% content_for :subtitle do %>
      <h2>Processing Voter Registration Request</h2>
    <% end %>
    <h4>Thank you, <%= current_user.name %>!</h4>
  <% else %>
    <h4>&nbsp;</h4>
  <% end %>
  <p>You have <span class="bold">accepted</span></p>
  <p>the voter registration application for</p>
  <p><%= current_user ? @registration.name : @registration.abbreviated_name %></p>
</div>
