<h1>Modify registration</h1>

<% form_for(@registration, :url => step1_update_registration_citizens_path(@registration)) do |f| %>
  <%= render :partial => 'registrations/form', :locals => {:f => f} %>
 <p>
    <%= f.submit "Next >>" %>
  </p>
<% end %>
