<h1>OSDV DVRS</h1>
<img src='/images/osdv.jpg'>
<img src='/images/pivotal.gif' height="67" width="158">
<img src='/images/engineyard.png'>

<hr/>
<p><a href="citizen_landing1">Citizen</a></p>
<p><a href="clerk_landing">Clerk</a></p>
<p><a href="registration_activities">Supervisor</a></p>
