<h1>Register to vote in the state of Jeffersonia</h1>
<hr/>
<p>
  By registering to vote, you affirm that you are at least 18 years of age and that you have resided in the state of
  Jeffersonia for at least 2 (two) years.
</p>
<p>Either:</p>
<p><%= link_to 'Download and print form', '#'%>, or, if you live in Adams county, </p>
<p><%= link_to 'Use online wizard', new_registration_path %></p>
