<h1>Welcome to the website for the offices of the Secretary of State of Jeffersonia</h1>
<hr/>
<p>Here you can:</p>
<ul>
  <li><%= link_to "Register to vote", citizen_landing2_path %></li>
  <li><%= link_to "Renew your driver's license", '#' %></li>
  <li><%= link_to "Apply for a tax cut", '#' %></li>
  <li><%= link_to "Apply to be bailed out", '#' %></li>
  <li><a href="#">Apply for TRAP money</a> (note: for this you must be able to demonstrate that you are "too big to
    fail")
  </li>
</ul>
