<h1>STEP 2: Please review your registration</h1>

<p> Review the details of your voter registration submission to make sure all the information is correct.</p>

<%= render :partial => 'registrations/display' %>

<h2>If you need to make changes, <%= link_to 'click here',  step1_edit_registration_citizens_path(@registration) %>. Otherwise:</h2>

<%= button_to "Continue to Step 3: Print & Sign", step3_registration_citizens_path(@registration), :method => :get %>