<%= render :partial => 'registrations/citizens/wizard' %>
<h1>STEP 3: Print & Sign Your Registration</h1>

<p>
  <%= image_tag 'animated_printer.gif' %>
</p>

<p>Please print your registration application form by clicking the "Print Application" button below</p>

<p>
    <button>Print Application</button>
</p>
<p></p>
<p>Next, sign the form in the signature area indicated on the lower right of the form. Once you have  signed the form,
    please click the button marked "Continue to Step 4: Mail"</p>



<%= button_to "Continue to Step 4: Mail", step4_registration_citizens_path(@registration), :method => :get %>