<% content_for :subtitle do %>
  <h2>Processing Voter Registration Request</h2>
  <div class="step"><p>Step 1</p></div>
<% end %>

<h3>Step 1: Please locate registration by Tracking Number</h3>

<div id="form_container">
  <% form_tag(registration_searches_path) do %>
    <p><%= label_tag :registration_id, "Tracking #:" %> <%= text_field_tag(:registration_id)%></p>
    <p class="button"><%= submit_tag 'Find', :class => "clerk_button", :style => "width: 100px" %></p>
  <% end%>
</div>
