<% content_for :subtitle do %>
  Locate registration by ID
<% end %>
<div id="inner">
  <% form_tag(registration_searches_path) do %>
    <p><%= label_tag :registration_id, "Registration Tracking ID:" %></p>
    <p>
      <%= text_field_tag(:registration_id)%>
      <%= submit_tag 'Find', :class => "clerk_button", :style => "width: 100px" %>
    </p>
  <% end%>
</div>
